opencv-python~=4.10.0.84
numpy~=2.1.2
mss~=9.0.2
pywin32~=307
ultralytics~=8.3.6
PyWinCtl
matplotlib~=3.9.2
keyboard
pyvirtualdisplay
dynaconf~=3.2.6
dropbox~=12.0.2
pytest~=8.3.3
PyYAML~=6.0.2
importlib~=1.0.4
requests~=2.32.3
toml~=0.10.2
torch~=2.4.1
Flask~=3.0.3